
extends layout

block content
	div.container(style='margin:20px')
		table.table.table-bordered.table-striped
			thead
				tr
					th(style='width:40px') #
					th(style='width:180px') Name
					th(style='width:180px') User ID
					th(style='width:180px') Phone
					th(style='width:180px') Token
					th(style='width:100px') OS
					th(style='width:200px') Location
					th Account Created
			tbody
			- for (var i = 0; i < accts.length; i++)
				tr
					td= i+1
					td= accts[i].name
					td= accts[i].user
					td= accts[i].phone_number
					td= accts[i].gcm_token
					td= accts[i].os
					td= accts[i].country
					td= accts[i].creation_dttm